@model WebApplication1.Models.PersonPassports

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PersonPassports</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Passport_Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Passport_Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Authority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Authority)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_of_Issue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_of_Issue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_of_Expiry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_of_Expiry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Person)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Person.PersonId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PersonPassportId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
