@model WebApplication1.Models.Person

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Person</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonSurname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonSurname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonSex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonSex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonDateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonDateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonNationality)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonNationality)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RNKNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RNKNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationPlace)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistrationPlace.RegistrationPlaceId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthPlace)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthPlace.BirthPlaceId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonPassportId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonPassportId)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="PersonId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>
